@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: hsl(216, 55%, 11%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

main {

    width: inherit;
    height: calc(100% - 2vh);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: wrap;

}

p {
    cursor: default;
}

.container {
    background: hsl(216, 50%, 16%);
    border-radius: 15px;
    height: 520px;
    width: 300px;
    display: block;
    padding: 20px;
    box-shadow: 0px 20px 0px 10px #0c1729,
        0px 20px 0px 40px hsl(219deg 49% 11%);
}

.img {
    margin: auto;
    width: inherit;
}

.overlay {

    margin: auto;
    border-radius: 8px;
    width: inherit;
    height: 300px;
    opacity: 0;
    position: absolute;
}

.overlay:hover,
.overlay:focus {
    opacity: 1;
    background: url(./images/icon-view.svg) 50% 50% no-repeat;
    background-color: hsla(178, 100%, 50%, 0.3);
    cursor: pointer;
}

div.img img {
    width: inherit;
    height: auto;
    border-radius: 8px;
}

.title {
    color: white;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.1px;
}

.title p:hover ,title p:focus{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.desc p {
    margin: 10px 0 0px 0;
    color: hsl(215, 25%, 60%);
    font-weight: 200;
}

.info {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
}

.price p::before,
.expire p::before {
    content: url(./images/icon-ethereum.svg);
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.price,
.expire {
    font-weight: 400;
    font-size: 15px;
    color: hsl(178, 100%, 50%);
}

.expire p::before {
    top: 4px;
    content: url(./images/icon-clock.svg);
}

.expire {
    color: hsl(215, 25%, 60%);
}

hr {
    border: 1px solid hsl(215, 32%, 27%);
}

.creator {
    display: flex;
    align-items: center;
    top: 0;
}

.creator p {
    color: hsl(215, 25%, 60%);
    margin: 0px 0px 0px 10px;
}

.creator p span:hover,
.creator p span:focus {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.creator p span {
    color: white;
}

.creator img {
    height: 32px;
    border: 1px solid white;
    border-radius: 50%;
}

.attribution {
    font-size: 1.5vh;
    text-align: center;
    color:white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 1 version
*/
